@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: "Roboto", "Noto Sans SC", "Beau Rivage", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-logo: "Birthstone Bounce";
    --font-result: "Abril Fatface", "Noto Sans SC", ;
}

:root {
    text-autospace: normal;
}

/* @font-face {
    font-family: LogoFont;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/font/logo-font.otf") format("opentype");
} */